*.h5ad
*.npz
*.bw
*.bigwig
*.log
__pycache__/
.env

.vscode

# Python build artifacts
dist/
build/
*.egg-info/

# Virtual environments
.venv/
venv/

# Test / temp files
*.pyc
__pycache__/
*.bed
lifted.bed
unmapped.bed
one.bed

# Large data (do NOT track)
data/
out/
scratch/

# Code Ocean
.codeocean/
environment/
metadata/

# OS
.DS_Store